.ParkData {
  height: auto;
}

.GreenSpacesList {
  height: auto;
  padding-bottom: 20px;
}

.pointer-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.pointer-btn img {
  width: 50px;
  height: auto;
}

.ReactMapGL {
  padding-top: 20px;
}
